path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}
.App {
  width: 100%;
  text-align: center;
}
.title {
  text-align: center;
}

.selector-class {
text-align: center;
}

.selector {
  /*display: inline-block;*/
}
