.map-container {
    height: 600px;
    width: 700px;
  }
.sidebar {
background-color: rgba(35, 55, 75, 0.9);
color: #fff;
padding: 6px 12px;
font-family: monospace;
z-index: 1;
position: absolute;
top: 50;
left: 0;
margin: 12px;
border-radius: 4px;
}

.buttons{
    width: 250px;
    height: 100px;
    background-color:rgb(235, 236, 236);
    font-size: x-large;
    text-align: center;
    position: absolute;
    font-family: "Times New Roman", 'Times New Roman', Times, serif;
    right:200px;
}

.buttons:hover{
    background-color:rgb(141, 141, 141);
    color: white;
}