path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}
.searchDistrict {
  width: 100%;
  text-align: center;
}
.title {
  text-align: center;
}

.selector-class {
text-align: center;
}

#district-area {
  display: hidden;
}

.top-link {
  display: block;
  margin-top: 10px;
  font-size: 25px;
  color: black;
}

/* Title Link Color */
.title:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.title:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.title:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.title:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

/* State Select */
#state-select-div {
  display: inline-block;
  margin-top: 15px;
  padding: 5px;
  max-width: 250px;
}

/* Cool styled button :) */
.cool-styled-btn {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

.cool-styled-btn:hover {
  cursor: pointer;
}

#what-is-gerrymandering {
  color: #004fee;
}

#what-is-gerrymandering:hover {
  cursor: pointer;
}

#p-reveal {
  font-size: 14px;
}

#rating {
  font-weight: bold;
  font-size: 25px;
}

#district-map-img {
  z-index: 99;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#district-map-img:hover {
  position: absolute;
  left: 35%;
  transform: translate(-35%, -35%);
  z-index: 99;
  transform: scale(1.75);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

#footer {
  background-color: red;
  display: block;
  margin-top: 25px;
  position: relative;
  align-items: stretch;
  width: 100%;
  
  
}

.footer-item {
  color: white;
  font-size: 20px;
}

#select-dist {
  z-index: 10;
  width: 125px;
  
}

#dist-select-div {
  text-align: center;
  align-items: center;
  display: inline-flex;
}